@import "../../variables/variables.scss";

.main-container {
  background-color: $background;
  color: $primaryText;
  width: $fullWidth;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-container {
    width: $fullWidth;
    min-height: $minH;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 35%;
      height: 50%;

      @media screen and (max-width: 900px) {
        width: 90% !important;
      }
    }

    .brand-text {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $bodyFont;

      @media screen and (max-width: 900px) {
        width: 90%;
      }

      h1 {
        text-align: center;
        font-size: $h2Font;
        font-weight: 200;
        font-style: italic;
        margin-top: 4rem;
        margin-bottom: $small;

        .blue-color {
          color: $accent;
        }

        @media screen and (max-width: 900px) {
          font-size: 24px;
        }
      }

      h4 {
        text-align: center;
        margin-top: 0.5rem;
        font-size: $h4Font;
        width: 70%;
        color: $mediumGrey;

        @media screen and (max-width: 900px) {
          font-size: 16px;
        }
      }
    }
  }

  .plx-image1 {
    background-image: url(../../assets/weights.jpg);
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .process-container {
    text-align: center;
    font-family: $bodyFont;
    font-size: $h2Font;
    min-height: 70vh;
    width: $fullWidth;
    display: flex;
    margin-top: 4.5rem;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-top: 2.5rem;
      margin-bottom: $small;
    }

    h4 {
      margin-top: 0;
      margin-bottom: $xsmall;
      text-align: center;
      font-size: $h4Font;
      width: 70%;
      color: $mediumGrey;
      font-style: italic;
    }

    p {
      font-size: $pFont;
      margin: 0;
      margin-bottom: 2rem;
    }

    .process-info-container {
      display: flex;
      justify-content: center;
      margin: 5rem 0;
      padding-left: 5rem;
      padding-right: 5rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 80%;
      background-color: $greyRGBA;
      box-shadow: 0 0 10px $accent;
      border-radius: $standard;

      @media screen and (max-width: 950px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .plx-image2 {
    background-image: url(../../assets/bands.jpg);
    width: $fullWidth;
    height: 60vh;
    margin-top: 5rem; //remove if the above button is removed
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .location {
    width: $fullWidth;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $bodyFont;
    font-size: 35px;
    margin-top: 5rem;

    h2 {
      margin-top: 1.5rem;
      margin-bottom: $small;
    }

    .hr-line {
      margin-bottom: 7rem;
    }
  }

  .partners {
    width: $fullWidth;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: $bodyFont;
    margin-top: 3rem;
    // min-height: 70vh;
    // margin-top: 4.5rem;

    h2 {
      font-size: $h2Font;
      margin-top: 2.5rem;
      margin-bottom: $small;
    }
  }
}
