@import "../../variables/variables.scss";

.story-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-bottom: $medium;
  width: 100%;

  h1 {
    font-size: $h1Font;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .hr-line {
    border-bottom: 1px solid $accent;
    margin-bottom: $small;
    width: 50%;
  }
}

.story {
  max-width: $fullWidth;
  display: flex;
  justify-content: center;
  padding: $medium;
  font-family: $bodyFont;
  color: $primaryText;

  .text-wrap-container {
    position: relative;
    width: 70%;
    font-size: $pFont;
    line-height: 1.5;
    background-color: $mediumGreyRGBA;
    border-radius: $standard;
    padding: 2rem 4rem;

    @media screen and (max-width: 1024px) {
      width: 90%;
    }
  }

  .upper-right-image {
    float: right;
    margin: 0 0 10px 10px;
    height: 400px;
    width: auto;

    @media screen and (max-width: 500px) {
      float: none;
    }
  }

  .lower-left-image {
    float: left;
    margin: 10px 10px 0 0;
    height: auto;
    width: 500px;
  }

  p {
    margin: 0;
    padding: 0px;
  }
}
