.schedule {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
  box-sizing: border-box;

  .calendar-container {
    border: 0;
    width: 60%;
    height: 600px;
    background: rgb(242, 242, 242);
    border-radius: 5px;

    @media screen and (max-width: 1024px) {
      width: 90%;
      margin-right: 1rem;
    }
  }
}
