@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat:ital,wght@0,400;1,300&family=Zilla+Slab&display=swap');
//fonts
$headerFont: "Mate SC", serif;
$bodyFont: "Montserrat", sans-serif;

//font sizes
$h2Font: 28px;
$h3Font: 25px;
$h4Font: 18px;
$pFont: 14px;   
$statusFont: 10px;
$nothingToSee: 28px;

//text-colors:
$primaryText: #F2F2F2;
$blackText: rgba(40, 40, 40, 0.9);

//colors
$background: rgba(0, 0, 0);
$mediumGrey: rgba(99, 99, 99);
$lightGrey: rgba(176, 176, 176);
$whiteColor: #F2F2F2;
$accent: rgb(17, 163, 213);
$darkAccent: #0d82aa;
 
//spacing (padding and margin):
$xsmall: 3px;
$small: 5px;
$medium: 10px;

//border-radius
$standard: 5px;

//mixins
@mixin mediumBlue($opacity) {
  background-color: rgba(123, 197, 230, $opacity);
}

@mixin button($radius) {
  background-color: $lightestBlue;
  font-family: $bodyFont;
  border-radius: $radius;
  transition: background-color 0.5s ease-out;
}

@mixin btnHover($transform) {
  cursor: pointer;
  transform: $transform;
  background-color: $mediumBlue;
}

@mixin btnActive($transform) {
  transform: $transform;
  box-shadow: 0 0px 5px 0px $darkBlue inset;
}