@import "../../variables/variables.scss";

.card-border {
  width: 30%;
  min-height: 100%;
  box-shadow: $boxShadow;
  background-color: $blackRGBA;
  border-radius: $standard;
  padding: 1rem;
  margin: 0.5rem;

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    .process-info {
      background-color: $blackRGBA;
      display: flex;
      padding: 3px;
      box-shadow: 0 0 4px $blackRGBA;
      border: 3px solid rgba(17, 163, 213, 0.5);
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
        max-height: 240px;
        width: 95%;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        margin-top: $small;
        border-radius: 5px;
      }
      h3 {
        color: $accent;
        padding-top: $small;
        font-style: italic;
      }
      .card-text {
        background-color: $lightGreyRGBA;
        box-shadow: 0 0 4px $accent;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: $standard;
        width: 95%;
        height: 100%;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }

      ul {
        font-size: $pFont;
        margin: 20px 0;
        display: block;
        width: 85%;
        padding-left: 2rem;
        list-style-position: inside;

        li {
          text-indent: -1.5rem;

          &:not(:first-child) {
            margin-top: 0.75rem;
          }
        }
      }
    }
  }
}
