@import "../../variables/variables.scss";

.contact-form {
  font-family: $bodyFont;
  font-size: 18px;
  color: $primaryText;
  width: 65%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;

  h2 {
    text-align: center;
    color: $accent;
    font-family: $headerFont;
    font-size: 35px;
    padding-bottom: 12px;
  }

  .hr-line {
    width: 50%;
    border-bottom: 1px solid $lightGrey;
    margin-bottom: 2rem;
    align-self: center;
  }

  form {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
    border-radius: 15px 15px 0 0;
    padding: 3rem;
    margin: 0;
    color: $primaryText;
    display: flex;
    width: 65%;
    height: 85%;
    flex-direction: column;

    .name-input,
    .lastName-input,
    .email-input,
    .phone-input {
      width: 45%;
   

      input {
        font-family: $bodyFont;
        margin-top: 0.5rem;
        color: $primaryText;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        color: $blackText;
      }
    }

    .email-phone-container,
    .name-lastname-container {
      display: flex;
      justify-content: space-between;
    }

    .select-input {
      width: 45%;
      select {
        font-family: $bodyFont;
        margin-top: 0.5rem;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        box-sizing: border-box;
      }
    }

    div {
      margin-bottom: 15px;
      label {
        font-weight: bold;
      }
    }

    .message-container {
      width: 100%;
      .regular-font {
        font-weight: 400;
      }
      textarea {
        margin-top: 0.5rem;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
        resize: vertical;
        height: 200px;
      }
    }

    .button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        width: 35%;
        background-color: $accent;
        color: $primaryText;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $darkAccent;
        }

        &:active {
          transform: translateY(2px);
        }
      }
    }
  }

  .error-message {
    color: red;
  }

  .red-border {
    border-color: red;
    border-style: none;
    border: 2px solid red;
  }
}
