@import "../../variables/variables.scss";

.navbar {
  width: $fullWidth;
  background-color: $background;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);

  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 16px 0;
    padding: 0 32px;

    .contact-link {
      a {
        color: $accent;
        text-decoration: none;
        font-family: $bodyFont;
        font-weight: bold;
        display: inline-block;
        padding: .75rem;
        border-radius: $standard;
        text-align: center;
        background-color: $whiteColor;
        transition: all .2s ease-in;

       &:hover {
        color: $whiteColor;
        background-color: $darkAccent;
      }   
    }

      :hover {
        color: $whiteColor;
        background-color: $accent;
      }
      
    
    }

    .nav-link {
      cursor: pointer;

      a {
        text-decoration: none;
        color: $primaryText;
        font-family: $bodyFont;
        padding: 1rem 0;
        transition: color 0.3s ease, border-bottom 0.3s ease;
      }

      :hover {
        color: $accent;
        border-bottom: 1px solid $accent;
      }
    }
  }
}
