@import "../variables/variables.scss";

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: $bodyFont;
  color: $primaryText;

  h5 {
    font-size: 20px;
    margin: 33px 0 16px;
  }

  p {
    font-family: $bodyFont;
    color: $primaryText;
    margin: 0;
    padding: 0.25rem;
  }

  .instagram {
    color: $accent;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    height: 30px;
    width: 30px;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(175, 7, 175);
    }
  }
}
