@import "../variables/variables.scss";

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: $bodyFont;
    color: $primaryText;

h5 {
    font-size: 20px;
    margin-bottom: 1rem;
}

    p {
        font-family: $bodyFont;
        color: $primaryText;
        margin: 0;
        padding: .25rem;
    }

    .instagram {
        color: $accent;
        margin-top: 1rem;
        padding-bottom: .5rem;
        height: 30px;
        width: 30px;
    }
}