@import "../variables/variables.scss";

.testimonials {
  background-color: rgba(99, 99, 99, .95);
  color: $blackText;
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  font-family: $bodyFont;

  .testimonial-item-container {
    display: flex;
    position: relative;
    background-color: $whiteColor;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .testimonial-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding-right: 2rem;
    padding-left: 2rem;
    // opacity: 1;
    // transition: opacity 0.5s ease;

    h4 {
      font-size: 30px;
      padding-top: 1rem;
      margin: 0;
    }
    .hr-line {
      border-bottom: 1px solid black;
      width: 9%;
      margin-top: 1rem;
    }

    p {
      width: 75%;
    }


  }
  .testimonial-btn {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      height: 50px;
      width: 50px;
    }

    button:hover {
      cursor: pointer;
     
      border-radius: 5px;
      transform: scale(1.1);
      transition: transform 0.2s ease all;
    }
    button:active {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transform: translateY(2px);
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .testimonial-dots {
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $background;
      margin: 0 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .dot.active {
      background-color: $accent;
    }
  }
}
