@import "../../variables/variables.scss";

.testimonials {
  background-color: $greyRGBA;
  color: $blackText;
  width: $fullWidth;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  font-family: $bodyFont;

  .testimonial-item-container {
    display: flex;
    position: relative;
    background-color: $whiteColor;
    box-shadow: $boxShadow;
    border-radius: $standard;
    flex-direction: column;
    align-items: center;
    width: $fullWidth;

    .testimonial-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      padding: 0 2rem;
      transition: opacity 0.7s ease-in;
      opacity: 1;

      .content-wrapper {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h4 {
          // position: absolute;
          // top: 0;
          // font-family: $headerFont;
          font-size: 30px;
          padding-top: 2rem;
          margin: 0;
        }
        .hr-line {
          padding-top: 1rem;
        }
      }

      p {
        width: 75%;
        font-size: $smallpFont;
        line-height: 130%;
      }
    }

    .testimonial-dots {
      position: absolute;
      bottom: 0;
      width: 20%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $background;
        margin: 0 0.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .dot.active {
        background-color: transparent;
        border: 2px solid $accent;
      }
    }
  }
  .testimonial-btn-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;

      .button-icon {
        font-size: 75px;
        color: $blackRGBA;
        transition: color 0.3s ease;

        &:hover {
          transform: scale(1.1);
          transition: transform 0.2s ease all;
          color: $accent;
        }

        &:active {
          transform: translateY(2px);
        }
      }

      &:hover {
        cursor: pointer;
        border-radius: 5px;
        transform: scale(1.1);
        transition: transform 0.2s ease all;
      }

      button:active {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transform: translateY(2px);
      }
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
}
