@import "../../variables/variables.scss";

.map-container {
    box-shadow: 0 0 10px $accent;
    width: 80%;
    display: flex;
    justify-content: center;
    background: $greyRGBA;
    border-radius: $standard;
  }

